.login-page{
    width:400px;
    height:700px;
}
.register-page{
    width:400px;
    height:700px;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
    background-color:white;
}

