.login-page{
    width:400px;
    height:700px;
}
.register-page{
    width:500px;
    height:700px;
    margin: auto;
    margin-top: 15px;
    background-color: #f0ece4;
    padding: 25px;
    border-radius: 10%;
}

